@import "tailwindcss";

@theme {
  --deepblue-500: #023047;
  --amber-500: #fb8500;
  --alabaster-500: #e0e1dd;

  --font-display: "Poppins", sans-serif;
  --font-logo: "Roboto", sans-serif;

  --text-logo: 1.5rem;
  --text-logo--font-weight: 700;

  --text-big: 6rem;
  --text-big--font-weight: 700;
  --text-big--letter-spacing: -0.025em;

  --color-background-100: #764abc;
  --color-lilac-100: #eabad2;
  --color-light-100: #eae3f5;
}

.bg-deepblue-500 {
  background-color: var(--deepblue-500);
}
.bg-amber {
  background-color: var(--amber-500);
}
.text-alabaster-500 {
  color: var(--alabaster-500);
}

.text-amber {
  color: var(--amber-500);
}

@utility container {
  padding: 20px;
  max-width: 1280px;
  margin: auto;
}

@custom-variant light (&:where(.light, .light *));
@custom-variant dark (&:where(.dark, .dark *));
@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));
@custom-variant light (&:where([data-theme=light], [data-theme=light] *));

@media (prefers-color-scheme: light) {
  body {
    background-color: #ff00dd; /* 어두운 배경색 */
    color: #ffffff; /* 밝은 텍스트 */
  }
}
@media (prefers-color-scheme: system) {
  body {
    background-color: #ffffff; /* 어두운 배경색 */
    color: #ffffff; /* 밝은 텍스트 */
  }
}
/* 다크 테마에 대한 스타일 */

/* 외부 라이브러리 스타일 적용할 경우  
@source './node_modules/tailwindcss/base.css'; 
*/

@plugin 'tailwindcss-animate';
