@import "tailwindcss";

/* 기본 테마로 사용 */
@theme {
  --deepblue-500: #023047;
  --amber-500: #fb8500;
  --alabaster-500: #e0e1dd;

}

.bg-deepblue-500 {
  background-color: var(--deepblue-500);
}
.bg-amber {
  background-color: var(--amber-500);
}
.text-alabaster-500 {
  color: var(--alabaster-500);
}

.text-amber {
  color: var(--amber-500);
}

@utility container {
  padding: 20px;
  max-width: 1280px;
  margin: auto;
}


/* 외부 라이브러리 스타일 적용할 경우  
@source './node_modules/tailwindcss/base.css'; 
*/

@plugin 'tailwindcss-animate';
