@import "tailwindcss";

@import "../styles/theme.css";

@custom-variant dark (&:is(.dark *));

@utility container {
  padding: 20px;
  max-width: 1280px;
  margin: auto;
}

@utility text-balance {
  text-wrap: balance;
}

@layer base {
  * {
    /* @apply border-border; */
  }

  body {
    @apply bg-background text-foreground;
  }

  /* ::selection {
    background-color: --alpha(var(--color-blue-400) / 20%);
  }

  ::-moz-selection {
    background-color: --alpha(var(--color-blue-400) / 20%);
  } */
}

.bg-deepblue {
  background-color: var(--deepblue-500);
}
.bg-amber {
  background-color: var(--amber-500);
}
.text-alabaster {
  color: var(--alabaster-500);
}
.text-amber {
  color: var(--amber-500);
}
